

body{
    background-image: url(BG.jpg);
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
	color: #333;
  font-weight: 300;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  
}
h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 30px;
  background-color:rgb(27, 94, 133);
  color: #fff;
}
.quiz{
    margin: 0 auto;

max-width: 700px;
min-width: 400px;
background-color: black;
opacity: 80%;
height: 500px;
padding: 20px;

}
.question{
  font-size: 1.5vw;
  margin-bottom: 15px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
  
}
.answers label{
  display: block;
  margin-bottom: 10px;

}
button{
  font-family: 'Work Sans', sans-serif;
	font-size: 1vw;
	background-color: rgb(27, 94, 133);
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
    margin-bottom: 20px;
    max-width: 200px;
    min-width: 100px;
}
button:hover{
	background-color: #39a;
}





.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 300px;
  margin-top: 40px;
color: white;
}

.quiz {
    

    animation-duration: 3s;
    animation-name: quiz;
}

@keyframes quiz {
    from {
        margin-right: 0%;
    }
    to {
        margin-right: 28%;
    }

}
#quiz{
    text-align: left;
}
